---
---

@import "{{ site.theme }}";

header h1 {
  a {
    text-decoration: none;
    color: inherit;
    text-shadow: inherit;
  }
}

.btn-cv .icon {
  opacity: 0.6;
  background: url("../images/cv.png") 0 0 no-repeat;
}

.btn-projects .icon {
  opacity: 0.6;
  background: url("../images/projects.png") 0 0 no-repeat;
}

.comments {
  margin-top: 10px;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px dashed #b5e853;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.date {
  font-style: italic;
  color: #666;
}

footer {
  padding: 20px 0;
  text-align: center;
  border-top: 1px dashed #b5e853;
}

@import "svg-icons";